

h1 {
    background-image: #ad2426;
    background-image: -webkit-linear-gradient(bottom, #ca2a2d 0%, #8f1d1f 100%);
    background-image: -moz-linear-gradient(bottom, #ca2a2d 0%, #8f1d1f 100%);
    background-image: -o-linear-gradient(bottom, #ca2a2d 0%, #8f1d1f 100%);
    background-image: -ms-linear-gradient(bottom, #ca2a2d 0%, #8f1d1f 100%);
    background-image: linear-gradient(bottom, #ca2a2d 0%, #8f1d1f 100%);

    color: white;

}

.outside_image {
  width: 420px;
  height: 500px;
  border: 4px solid black;
  text-align: center;
  float: left;
  margin: 40px 26px;
  h2 {
    width: 376px;
    border: 2px solid black;
    background: red;
    margin: 10px;
  }
  .inside_image {
    width: 396px;
    height: 476px;
    margin: 10px;
    border: 2px solid black;
  }
  &:hover {
     -webkit-transform:scale(1.2,1.2);
     -moz-transform:scale(1.2,1.2);
  }

}

  #ship {
    margin: 10px 266px;
  }

.clear {
  clear: both;
}