!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %header
      %img{src: 'images/Header.png'}
    %nav
      %ul
        %li
          .nav_button1
            %a{href: 'html/board.html'} Board
        %li
          .nav_button2
            %a{href: 'html/pieces.html'} Pieces
        %li
          .nav_button3
            %a{href: 'html/cards.html'} Cards
        %li
          .nav_button4
            %a{href: 'html/faq.html'} FAQ
        %li
          .nav_button5
            %a{href: 'html/contact.html'} Contact Us
      #main
        .video
          %iframe{width:'800',height:'600',src:'http://www.youtube.com/embed/mFLLsykfLwQ?rel=0',frameborder:'0'}
      %footer
        %small Nashopoly &copy; 2013




