!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/reset.css'}
    %link{rel: 'stylesheet', href: '../css/board.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body

    %header
      %a{href:'../index.html'}
        %img{src: '../images/Header.png'}

    %nav
      %ul
        %li
          .nav_button1
            %a{href: '../html/board.html'} Board
        %li
          .nav_button2
            %a{href: '../html/pieces.html'} Pieces
        %li
          .nav_button3
            %a{href: '../html/cards.html'} Cards
        %li
          .nav_button4
            %a{href: '../html/faq.html'} FAQ
        %li
          .nav_button5
            %a{href: '../html/contact.html'} Contact Us

    #board_full
      #main_tile
        %img{src: '../images/center.jpg'}
      %ul
        %li
          #top_row_left
          #top_row1
          #top_row2
          #top_row3
          #top_row4
          #top_row5
          #top_row6
          #top_row_right
        %li
          #first_row_left
          #first_row_right
          .clear
        %li
          #second_row_left
          #second_row_right
          .clear
        %li
          #third_row_left
          #third_row_right
          .clear
        %li
          #fourth_row_left
          #fourth_row_right
          .clear
        %li
          #fifth_row_left
          #fifth_row_right
          .clear
        %li
          #sixth_row_left
          #sixth_row_right
          .clear
        %li
          #bottom_row_left
          #bottom_row1
          #bottom_row2
          #bottom_row3
          #bottom_row4
          #bottom_row5
          #bottom_row6
          #bottom_row_right



      %footer
        %small Nashopoly &copy; 2013




