!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly | Contact
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
    %link{rel: 'stylesheet', href: '../css/contact.css'}
  %body
    %header
      %a{href:'../index.html'}
        %img{src: '../images/Header.png'}

    %nav
      %ul
        %li
          .nav_button1
            %a{href: '../html/board.html'} Board
        %li
          .nav_button2
            %a{href: '../html/pieces.html'} Pieces
        %li
          .nav_button3
            %a{href: '../html/cards.html'} Cards
        %li
          .nav_button4
            %a{href: '../html/faq.html'} FAQ
        %li
          .nav_button5
            %a{href: '../html/contact.html'} Contact Us
    #outside_wrapper
      #wrapper
        #content
          %h1 Contact Us



        .matt_wrap
          %h2 Matthew Wiser
          .matthew
            %img{src:'../images/matt.jpg'}
            %p
              Matthew Wiser is currently enrolled as a student at Nashville Software School. He is interested in Web Design, Android, Open Source Software and cool gadgets. Matthew likes to spend his free time coding and causing mayhem.
            %ul
              %li
                %a{href:'#'}GitHub
              %li
                %a{href:'#'}LinkedIn
              %li
                %a{href:'#'}Twitter
        .katie_wrap
          %h2 Katie Miller
          .katie
            %img{src:'../images/katie.jpg'}
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!
            %ul
              %li
                %a{href:'#'}GitHub
              %li
                %a{href:'#'}LinkedIn
              %li
                %a{href:'#'}Twitter

        .anthony_wrap
          %h2 Anthony Economos
          .anthony
            %img{src:'../images/anthony.jpg'}
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, harum ducimus id sunt sint accusantium. Nam temporibus illum sequi voluptatibus labore repellendus similique eius aperiam officia? Nihil accusantium natus voluptatum!

            %ul
              %li
                %a{href:'#'}GitHub
              %li
                %a{href:'#'}LinkedIn
              %li
                %a{href:'#'}Twitter

        .clear



      %footer
        %small Nashopoly &copy; 2013