!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Nashopoly
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
    %link{rel: 'stylesheet', href: '../css/pieces.css'}
  %body
    %header
      %a{href:'../index.html'}
        %img{src: '../images/Header.png'}

    %nav
      %ul
        %li
          .nav_button1
            %a{href: '../html/board.html'} Board
        %li
          .nav_button2
            %a{href: '../html/pieces.html'} Pieces
        %li
          .nav_button3
            %a{href: '../html/cards.html'} Cards
        %li
          .nav_button4
            %a{href: '../html/faq.html'} FAQ
        %li
          .nav_button5
            %a{href: '../html/contact.html'} Contact Us
    #outside_wrapper
      #wrapper
        #main
          %h1 Game Pieces
          .cont_left
            .img_cont
              #img1
                %img{src: '../images/token_barrow.png'}
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, magni iusto omnis expedita reprehenderit excepturi unde qui aut voluptas quas! Impedit, dolore iste molestias maiores cumque quia modi quae laborum!
            .img_cont
              #img2
                %img{src: '../images/token_boot.png'}
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.
          .cont_right
            .img_cont
              #img3
                %img{src: '../images/token_car.png'}
                %p
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.
            #cowboy
              .img_cont
                #img4
                  %img{src: '../images/token_cowboy.png'}
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.
          .clear

          .cont_horizontal
            .img_horizontal
              %img{src: '../images/token_dog.png'}
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

            .img_horizontal
              %img{src: '../images/token_hat.png'}
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.

            .img_horizontal
              %img{src: '../images/token_iron.png'}
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, deleniti labore maiores repudiandae corrupti. Omnis, incidunt, quia, enim sunt praesentium laboriosam labore commodi nemo possimus maxime aspernatur necessitatibus unde vero.
          .clear

          .cont_left
            .img_cont
              %img{src: '../images/token_thimble.png'}
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .cont_right
            .img_cont
              %img{src: '../images/token_ship.png'}
              %p
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, praesentium, sunt, provident in minus laborum quibusdam natus nihil consectetur eaque assumenda nesciunt fuga illo voluptatem neque beatae aut facere architecto!

          .clear




    %footer
      %small Nashopoly &copy; 2013